<!DOCTYPE html>
<html lang="en">
<head>
 <title>Test MySQL</title>
</head>
<table>
    <thead> 
        <tr>
        <th>Name</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for employee in object_list %}
        <tr>
            <td>{{ employee.lname }}</td>
            <td>
                <a href="{% url "employee_detail" employee.ssn %}">details</a>
                <a href="{% url "employee_update" employee.ssn %}">edit</a>
                <a href="{% url "employee_delete" employee.ssn %}">delete</a>
            </td>
        </tr>
        {% endfor %}
   </tbody>
</table>
</html>