<!DOCTYPE html>
<html lang="en">
<head>
<title>GROUP 4</title>
</head>
<body>
    <h1>Database Design Project (Group 4): SV Plan Registration System using LLM</h1>
    <body>
        The SV Plan Registration System is designed to facilitate task management and event announcements for the SV campus community. This comprehensive system is managed by Khoury College, and supports both web-based and mobile-based platforms, enabling users to efficiently track their daily tasks through photo uploads, file attachments, or voice memos. Additionally, the system keeps users informed about crucial campus events, ensuring they remain engaged and up-to-date.
    </body>
</body>
</html>